* {
  font-family: system-ui;
}
.Header {
  background-color: #3e755f;
  height: 75px;
  width: 100% !important;
  position: fixed;
  top: 0;
}

.Header1{
  background-color: #3e755f;
  height: 75px;
  width: 100% !important;
}
.logo {
  width: 10%;
  padding: 4px 0px;
  color: #fff;
  font-weight: bold;
  font-size: 23px;
}
.logo img {
  width: 120px;
}
.home-container {
  width: 90%;
  margin: 5px auto;
}
.sidemenu {
  width: 100% !important;
  height: auto;

  padding-right: 0 !important;
  padding-left: 0 !important;
}
.menutitle {
  font-size: 16px;
  text-align: left;
  font-weight: bold;
  color: #ed3237;
  text-decoration: none;
}
.sidebar-content {
  padding: 0 !important;
}

.dropdown-item {
  color: #000 !important;
  font-weight: bold !important;
}
.accordion-item {
  padding: 5px !important;
}
.navname {
  color: #000 !important;
  font-weight: bold !important;
  padding: 10px !important;
}
.accordion-button {
  padding: 0 !important;
  background-color: #fff !important;
}
.accordion-body a {
  color: #000 !important;
  font-weight: bold !important;
}
.hhTtXw {
  padding: 0 !important;
}

.srikarseeds {
  background: #fff !important;
  color: #ed3237 !important;
}
.p-img {
  width: 70%;
  margin: 0 10px;
  float: left;
}
.product-img {
  width: 20%;
  float: left;
}
.product-details {
  float: left;
  width: 70%;
  margin-left: 20px;
}
.p-title {
  margin: 5px 0;
  font-size: 14px;
  font-weight: bold;
}

.product-select {
  border: 1px solid #ccc;
  font-size: 14px;
}
.accordion-item:first-of-type {
  border-radius: 0 !important;
}
.kmSAxt {
  background-color: #fff !important;
}
.section {
  width: 95%;
  margin: 20px auto;
}

.back{
  color: #000;
}
.producttitle {
  font-size: 12px;
  font-weight: bold;
  padding: 5px 0;
  border-bottom: 1px solid #cccc;
  margin-left: 10px;
  color: #3e755f;
  margin: 10px 0;
}
.productDetails {
  width: 100%;
  padding: 2px 8px;
  border: 1px solid #cccccc61;
  
}

.p-img {
  width: 70%;
}
.product_title {
  margin: 0px 3px;
  font-weight: bold;
}

.unitsspan {
  width: 61px !important;
  padding: 0 !important;
  margin: 6px;
  display: block;
}
.accordion-body {
  padding: 8px !important;
  font-size: 13px;
}
.section-row {
  margin: 0 !important;
}
.selectunit {
  width: 35%;
  float: left;
}
.untisection {
  padding: 0 !important;
  width: 30px !important;
  float: left;
}
.selectunit select {
  height: 29px;
  border: 1px solid #ccc;
  padding: 2px;
}
.unitsspan p {
  text-align: center;
  margin: 5px 0;
  font-size: 13px;
  font-weight: bold;
}
.selectunit select:after {
  border: none !important;
}

.units {
  border-top: 1px solid #ccc;
  padding-top: 5px !important;
  margin-top: 18px;
}
.kmSAxt {
  width: 100% !important;
}
.accordion-item:last-of-type .accordion-collapse {
  margin-left: 10px;
}

.p-details {
  width: 100%;
  margin: 5px 0;
  float: left;
}
.pro-details {
  width: 70%;
  margin: 5px 0;
}
.p-details p {
  font-size: 12px;
  font-weight: bold;
  margin: 0 3px;
  width: auto;
  float: left;
}
.units_inc {
  background: #fff;
  font-size: 14px;
  border: 1px solid #ccd;
  display: block;
  width: 20px;
  font-weight: bold;
  padding: 0;
  height: 20px;
  text-align: center;
}

.add {
  float: left;
}
.add button {
  float: right;
}

.product-box {
  height: 106px;
  margin-bottom: 10px !important;
  width: 100%;
  clear: both;
  border-bottom: 1px solid #ccccccb3;
}

.add span {
  float: right;
  padding: 1px 10px;
  font-size: 12px;
  font-weight: bold;
}

.addtocart {
  float: right;
  width: 35%;
  margin: 10px 0;
}
.pagebox{
  width: max-content;
  overflow: scroll;
}
.page{
  width: 100%;
  overflow: scroll !important;
}

.addtocart button {
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  background-color: #3e755f;
  color: #fff;
}
.carticon {
  float: right;
  position: fixed;
  right: 0;
  color: red!important;
  width: 100%;
  background: #3e755f;
  float: right !important;
  text-align: right;
  padding-right: 9px;
  font-weight: bold;
  z-index: 999999;
  height: 30px;
}
.profilenomargin p{
  font-size: 14px !important;
  font-weight: bold !important;
  margin: 0px 0px !important;
  margin-top: 55px !important;
  margin-left: 1px !important;
  border: 1px solid #ccc !important;
  width: 45px !important;
  padding: 5px !important;
}

.cart{
  margin-top: 10px;
}
.carticon a {
  color: red !important;
  text-decoration: none;
  cursor: pointer;
}

.carticon {
  float: right;
}

.emptycart {
  margin: 10px;
  color: #333;
  margin-top: 105px;
}
.cartdetails {
  width: 94%;
  margin: 7px auto;
  padding: 5px;
  border: 1px solid #ccc;
}
.remove {
  width: 65px !important;
  font-size: 12px;
  border: 1px solid #ccc;
  float: right !important;
  margin-left: 11px;
  background-color: #3e755f;
  color: #fff;
}
.placeorder_bnt {
  width: 50%;
  margin: 10px auto;
  background-color: #3e755f;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.shipping_adderss {
  margin: 0 8px;
  float: left;
  width: 98%;
}
.billing_adderss {
  margin-top: 12px;
  width: 100%;
}
.sadderss {
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 10px;
  font-weight: bold;
  width: 90%;
  font-size: 12px;
}
.order_bnt {
  width: 100%;
  text-align: center;
}
.title {
  font-size: 14px;
  color: #ed3237;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  border-bottom: 1px solid #ccc;
}
.orders {
  margin-top: 85px;
}

.passwordsection{
  margin-top: 85px;
}
.nomargin{
  margin-top: 0 !important;
}
.nomargin p{
  margin-top: 0 !important;
  font-size: 18px !important;
}
.orderid {
  margin: 5px;
  font-size: 12px;
  font-weight: bold;
}
.orderid span {
  padding: 5px;
}
.details {
  width: 97%;
  margin: 0 auto;
  padding: 5px;
  margin: 5px;
  border: 1px solid #ccc;
}
.details-bnt {
  float: right;
}
.detailsclick {
  padding: 5px;
  background-color: #3e755f;
  color: #fff;
  width: 50px;
  margin: 5px;
  cursor: pointer;
}

.getdetails {
  background-color: #3e755f;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: #fff;
  float: right;
}
.list {
}
.back {
  margin: 5px 10px;
  display: block;
}
.back a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.add-text {
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  text-overflow: clip;
}
.fulladderss {
  width: 90%;
  font-size: 10px;
  padding: 10px;
  font-weight: bold;
  border: 1px solid #ccc;
  margin: 10px 0;
  font-size: 14px;
}
.fulladderss small {
  text-decoration: underline;
}
.quntityerror {
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  position: fixed;
  top: 79px;
  z-index: 0;
  width: 61% !important;
  margin: 0 auto;
  text-align: center;
}

.cart-image{
width: 100%;
}
.cart-box1{
  width: 30% !important;
  float: left;
}
.cart-box2{
  width: 68% !important;
  float: left;
}
.cart-box2 span {
font-size: 14px;
}
.navheader{
  width: 100%;
  margin: 10px 0;
  height: 18px;
  margin-top: 105px;
  }

.navheader p{
  font-size: 12px;
  font-weight: bold;
  margin: 6px 0px;
  margin-top: 75px;

}
.navheader a{
  color: #333;
  padding: 2px;
  margin: 2px;

  font-size: 12px;
  margin: 3px 1px !important;
  font-weight: bold;
  text-decoration: none;
}
.fas{
  font-size: 8px !important;
}
.homenav{
  margin: 0 4px !important;
}
.catname{
  margin: 7px 1px !important;
}
.home{
  
}

.navheader ul{
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}


.Loginpage{
  width: 100%;
  margin-top: 95px;
 
 }
 .loginform{
   width: 95%;
   margin: 4% auto;
   padding: 10px 0; 
   border: 1px solid #ccc;
   box-shadow: 1px 2px 4px 1px #33333394;
 }
 .box{
   padding: 10px;
     width: 100%;
     margin: 10px;
 }
 .box label {
  width: 100px;
  font-size: 12px;
 }
 .error{
  color: red;
  font-size: 12px;
  font-weight: bold;
 }

 .profilenomargin{
  margin-top: 0;
 }

 .logout{
  float: right;
  margin: 20px 1px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 0;
 }
 .passwordbox{
  width: 58%;
  float: left;
 }
 .passwordlabel{
  float: left;
 }
 .passwordbox input{
  width: 142px !important;
 }
 .passwordshow{
  position: absolute;
  right: 34px;
  margin-top: 2px;
 }

 .search {
  width: 100%;
  text-align: center;
  margin-bottom: 11px;
}

.search input {
  margin-left: 11px;
  text-transform: lowercase;
}


 .pagebutton{
  cursor: pointer;
  float: left;
  border: 1px solid #ccc;
  padding: 6px 15px;
}
.selpagebg {
  background: #3e755f;
  color: #fff;

}
 .box input {
  padding: 9px;
  background: #fff !important;
  width: 58%;
  font-size: 11px;
  border: 1px solid #ccc;
 }
 .loginbnt{
   width:45%;
 }
 .reg{
 
 }
 .file{
   width: 99%;
 }
 .error{
   color: red;
 }

 .addbnt {
  margin: 10px;
  color: #fff;
  background-color: #3e755f;
  width: 50%;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
}


.userdetails{

}

.userlabel{
  width: 35%;
  float: left;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid #cccccc52;
  padding: 5px;
  height: 35px;
}
